@model Student
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Student</h4>
                <p class="card-description"></p>
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input accept="image/*" asp-for="Photo" class="form-control">
                        <span asp-validation-for="Photo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="FullName" class="form-control form-control-lg" placeholder="Full Name">
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input asp-for="UserName" class="form-control form-control-lg" placeholder="Username">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select class="form-control text-black" name="genId">
                            @foreach (Gender gen in ViewBag.Genders)
                            {

                                if (Model.GenderId == gen.Id)
                                {
                                    <option selected value="@gen.Id">@gen.Type</option>
                                }
                                else
                                {

                                    <option value="@gen.Id">@gen.Type</option>
                                }

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control text-black" name="groupId">
                            @foreach (Group group in ViewBag.Groups)
                            {

                                    <option value="@group.Id">@group.Number</option>
                       

                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <input asp-for="Email" class="form-control form-control-lg" placeholder="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    


                    <div class="form-group">
                        <select class="form-control text-black" name="depId">
                            @foreach (Department dep in ViewBag.Departments)
                            {
                                if (Model.DepartmentId == dep.Id)
                                {
                                    <option selected value="@dep.Id">@dep.Name</option>
                                }
                                else
                                {
                                    <option value="@dep.Id">@dep.Name</option>
                                }
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <input asp-for="Degree" maxlength="14" class="form-control form-control-lg" placeholder="Degree">
                        <span asp-validation-for="Degree" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Number" class="form-control form-control-lg" placeholder="Number">
                        <span asp-validation-for="Number" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a asp-action="Index" class="btn btn-inverse-dark btn-fw">Go back</a>
                </form>
            </div>
        </div>
    </div>
</div>
