@model List<Teacher>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Teachers</h4>
                    <a class="mdi mdi-plus-circle icon-lg" asp-action="Create"></a>
                    @*
                    @if (ViewBag.Count!=0)
                    {
                    <a class="mdi mdi-plus-circle icon-lg" asp-action="Create"></a>
                    }
                    else
                    {
                    <a class="mdi mdi-plus-circle icon-lg" asp-action="New"></a>
                    }*@
                </div>
                <table class="table" id="myTable">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Gender</th>
                            <th>Email</th>
                            <th>Department</th>
                   
                            <th>
                                <div>
                                    Joining
                                </div>
                                <div>
                                    Date
                                </div>
                            </th>
                            <th>
                                Status
                            </th>
                            <th class="text-end">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Teacher teacher in Model)
                        {
                            <tr>
                                <td class="py-1">
                                    <img src="~/assets/images/@teacher.Image" />
                                </td>
                                <td>@teacher.FullName</td>
                                <td>
                                    @teacher.UserName
                                </td>
                                <td>@teacher.Gender.Type</td>
                                <td>@teacher.Email</td>
       
                                <td>@teacher.Department.Name</td>
          
                                <td>@teacher.JoiningDate.ToString("MM/dd/yyyy")</td>
                                <td class="d-flex justify-content-center">
                                    @if (teacher.IsDeactive)
                                    {
                                        <span style="width:30px" class="mdi mdi-close-circle-outline icon-md text-danger"></span>
                                    }
                                    else
                                    {
                                        <span style="width:30px" class="mdi mdi-check-circle-outline icon-md text-success"></span>

                                    }
                                </td>
                                <td>
                                    <div class="d-flex justify-content-md-start">
                                        <a asp-action="Detail" asp-route-id="@teacher.Id" style="width:45px" class="mdi mdi-account-card-details icon-md"></a>
                                        <a asp-action="Update" asp-route-id="@teacher.Id" style="width:30px" class="mdi mdi-wrench icon-md text-info"></a>


                                        @if (teacher.IsDeactive)
                                        {
                                            <a asp-action="Activity" asp-route-id="@teacher.Id" style="width:30px" class="mdi mdi-toggle-switch-off icon-md text-danger"></a>
                                        }
                                        else
                                        {

                                            <a asp-action="Activity" asp-route-id="@teacher.Id" style="width:30px" class="mdi mdi-toggle-switch icon-md text-success"></a>

                                        }

                                    </div>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>

