<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Table</h4>
                <p class="card-description">
                    Add class <code>.table</code>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Designation</th>
                            <th>Gender</th>
                            <th>Degree</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Joining Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td class="py-1">
                                <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                            </td>
                            <td>Jay Soni</td>
                            <td>
                                Mathematics
                            </td>
                            <td>Female</td>
                            <td>M.Com., P.H.D.</td>
                            <td>1234567890</td>
                            <td>test@email.com</td>
                            <td>2/25/2018</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    @*<a asp-action="ResetPassword" asp-route-id="@item.Id" style="width:130px" class="btn btn-outline-warning mx-2 btn-rounded">Reset Password</a>
                                    <a asp-action="Update" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-info mx-2 btn-rounded">Update</a>
                                    @if (item.UserName != User.Identity.Name)
                                    {
                                    <a asp-action="ChangeRole" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-linkedin mx-2 btn-rounded">Change Role</a>
                                    }
                                    else
                                    {
                                    <a style="width:120px" class="btn btn-outline-secondary mx-2 btn-rounded">Change Role</a>

                                    }

                                    @if (item.UserName != User.Identity.Name)
                                    {
                                    @if (item.IsDeactive)
                                    {
                                    <a asp-action="Activity" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-success mx-2 btn-rounded">Activate</a>
                                    }
                                    else
                                    {
                                    <a asp-action="Activity" asp-route-id="@item.Id" style="width:120px" class="btn btn-outline-danger mx-2 btn-rounded">Deactivate</a>
                                    }
                                    }
                                    else
                                    {
                                    if (item.IsDeactive)
                                    {
                                    <a style="width:120px" class="btn btn-outline-secondary mx-2 btn-rounded">Activate</a>
                                    }
                                    else
                                    {
                                    <a style="width:120px" class="btn btn-outline-secondary mx-2 btn-rounded">Deactivate</a>
                                    }
                                    }*@
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


